{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: black;color: aliceblue;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="color: #f4a261;">Bag Bliss</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link " href="{% url 'home' %}" style="color: aliceblue;">Home</a>
              <a class="nav-link" href="{% url 'product' %}" style="color: aliceblue;">Shop</a>
              <a class="nav-link" href="{% url 'aboutus' %}" style="color: aliceblue;">About Us</a>
              <a class="nav-link" href="{% url 'contact' %}" style="color: aliceblue;">Contact Us</a>
            </div>
          </div>
        </div>
      </nav>
</br>
<div class="container">
       

    <div class="col-sm-12">
      {% block msg %}
      {% endblock msg %}
     </div>

    <div class="col-sm-12">
     {% block side %}
     {% endblock side %}

     {% block content %}
    {% endblock content %}
    </div>
</div>




</br>



      <footer style="background-color: black; color: #fff; text-align: center; padding: 20px 10px;">
        <div style="margin-bottom: 20px;">
            <h2 style="margin: 0; font-size: 1.8em; color: #f4a261;">Bag Bliss</h2>
            <p style="margin: 5px 0 0; font-size: 1em;">Your ultimate destination for stylish bags</p>
        </div>
        <div style="margin-top: 20px;">
            <p style="font-size: 0.9em; margin: 0;">Follow us on:</p>
            <a href="#" style="color: #f4a261; text-decoration: none; margin: 0 10px;">Instagram</a> |
            <a href="#" style="color: #f4a261; text-decoration: none; margin: 0 10px;">Facebook</a> |
            <a href="#" style="color: #f4a261; text-decoration: none; margin: 0 10px;">Twitter</a>
        </div>
        <div style="margin-top: 20px; font-size: 0.8em;">
            <p style="margin: 0;">&copy; 2024 Bag Bliss. All rights reserved.</p>
        </div>
    </footer>
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/jquery.js' %}"></script>
</body>
</html>